body {
	background-image: url("images/overlay.png"), linear-gradient(45deg, #f3cd35 15%, #f41544 85%);
	overflow-x: hidden;
}



#nav + #main {
	padding-top: 0;
}

#wrapper {
	#header {
	}

	#nav {
		background-color: 
		ul {
			li {
				&:nth-child(3n) {
					background-image: url('../../images/logo.png');
					width: 124px;
					height: 49px;
				}
			}
		}
	}

	#main {

	margin-top: 50px;
	
		#intro {
			.spotlight {
				.content {
					.major {
						h2:after {
						    background-image: -webkit-linear-gradient(left, #f3cd35, #f41544);
						    background-image: -o-linear-gradient(left, #f3cd35, #f41544);
						    background-image: linear-gradient(to right, #f3cd35, #f41544);
						}
					}
				}
			}
		}
	}

	#cta {
		background-color: rgba(247, 247, 247, 0.95);
	}
}

.gallery {
	width: 100%;
	.item {
		max-height: 100vh;
		img {
			width: 100%;
		}
	}
}

#main input[type="submit"]:hover, #main input[type="reset"]:hover, #main input[type="button"]:hover, #main button:hover, #main .button:hover {
	background-image: linear-gradient(to right, rgba(243, 205, 53, 0.46), rgba(244, 21, 68, 0.46));
}